<% content_for(:header_stuff) do %>
<%= javascript_include_tag "mapiconmaker", "locimeutils" %>
<% end %>

<% content_for(:footer_stuff) do %>
<%= javascript_tag "setFocusHere('q');" -%>
<% end %>


<div class="expandbox enlighten">
  <% form_tag(q_create_path, { :id => "qform" }) do %>
  	<div><%= text_field_tag :q, params[:q], :class => "text sep_after_10" %></div>
  	<div class="more_options"><%= link_to "more options", new_place_path, :class => "usual" -%></div>	
  	<div><%= submit_tag "Make This Place", :class => "submit" %></div>
  <% end -%>

</div>
<div class="clearer main_begin">&nbsp;</div>

<%# end -%>

<!-- ======================================================================= -->

<div>&nbsp;</div>

<h3 class="cap">You Can</h3>
<ul>
  <li>submit address</li>
  <li>insert coords (lat,lon), even with name as: lat,lon (place title).<br />(The title-trick works for address, too)</li>
  <li>submit link from google map ("link" on top right of the map)</li>
  <li>in edit mode: the zoom and map type is saved. Drag the pin to refine location.</li>
</ul>

<div class="hr">&nbsp;</div>

<h3 class="cap">Coordinates formats</h3>
<ul>
  <li>latitude (-90..90), longitude (-180..180), altitude<br />
    (altitude optional but only with decimal format - the next one)
  </li>
  <li>51.5103,-0.133982</li>
  <li>+51° 30' 37.08", -0° 8' 2.34"</li>
  <li>N 51° 30.618' W 0° 8.039'</li>
</ul>

<div class="hr">&nbsp;</div>

