<h1>Change My Password</h1>

<% form_for @user, :url => password_reset_path, :method => :put do |f| %>
  <%# f.error_messages %>
  <div>Password:</div>
  <div class="form_field">
    <%= f.password_field :password, :class => "text" -%>
  </div>

  <div>Password confirmation:</div>
  <div class="form_field">
    <%= f.password_field :password_confirmation, :class => "text sep_after_10" -%>
  </div>

  <%= f.submit "Update my password and log me in" %>

<% end %>