<h1>Forgotten Password</h1>

<p>
  Fill your email below which you have registered with your account and instructions how to reset your password will be emailed to you.
</p>
<div class="hr">&nbsp;</div>
<% form_tag password_resets_path do %>

  <h3 class="cap clear label">Email:</h3>
  <div><%= text_field_tag "email" %>&nbsp;<%= submit_tag "Send me how to get in" %></div>
  <!-- <div style="margin-top: 10px"><%# submit_tag "Send me how to get in" %></div> -->
<% end %>