Hello,

A request to reset your password on Loci.me (http://loci.me) has been made.
If you did not make this request, simply ignore this email.
To reset your passord just click on the link below and follow instructions:

<%= @edit_password_reset_url %>

Try copying and pasting it into your browser if the above URL does not work.
If you continue to have problem please feel free to contact us at
i-hear-you@loci.me.

Your loci.me
Make and Share Places
