/*
Loci.me:  http://colorschemedesigner.com/#0A31Tw0w0w0w0
*/

body {
	margin: 0;
/*	font: normal normal normal 14px/1.5em "Lucida Grande",Verdana,"Bitstream Vera Sans",Arial,sans-serif;*/
	font: normal normal normal 14px/1.5em Arial,Helvetica,"Bitstream Vera Sans",Arial,sans-serif;
	text-align: center;
	color: #333;
	background-color: #e8e8e8;
	background-color: #fff;
}

/*lum 100 of basic*/
#content		 		{ background-color: #e8e9ff; }

p						{ margin-top: 5px; margin-bottom: 5px; }

a, a.usual				{ color:#1531AE; }
a:hover, a.usual:hover	{ color: #4962D6; }

img						{ border: 0; }

.clear 					{ clear: both;}
.clearer,
.section_end			{ height: 1px; font-size: 1px; line-height: 1px; clear: both; }
.section_end 			{ margin: 10px 0; }
.sep10					{ height: 10px; font-size: 1px; line-height: 1px;}
.sep_after_10			{ margin-bottom: 10px;}

h1, h2, h3, h4, h5, h6	{ margin: 0; padding: 0; letter-spacing: -1px; color:#1531AE; }
h1						{ margin-bottom: 15px; margin-top: 15px; font-size: 21px;}

small, .small 			{ font-size: 12px; }
.smaller				{ font-size: 80%; line-height: 150%; }

form					{ margin: 0; padding: 0;}

input, textarea {
/*	font: normal normal normal 14px/1.5em "Lucida Grande",Verdana,"Bitstream Vera Sans",Arial,sans-serif;*/
	font: normal normal normal 14px/1.5em Arial,Helvetica,"Bitstream Vera Sans",Arial,sans-serif;
}
input.text,
textarea {
	border: 1px inset threedface;
	padding: 2px 1px;
}

.fieldWithErrors input,
.fieldWithErrors textarea { background-color: #ffd5cd; }   /* ff2800 pro sytou */

.hr						{ clear: both; height:1px; border-bottom: 1px dotted #808080; margin-top: 10px; margin-bottom: 10px;}

ul						{ margin-top: 0; margin-bottom: 0;}


.show 		{ display: block;}
.not_show 	{ display: none;}

pre, .code {
	font-family: Consolas,Monaco,"Courier New",Courier,monospace;
	font-size: 80%;
}

pre {
	margin: 5px 0;
	padding: 6px 10px;
	background-color: #fff;
	border: 1px solid #bbb;
}

#header {
	padding-top: 0px;
	padding-bottom: 10px;
	background-color: #fff;
	border-bottom: 1px solid #aaa;
	margin-bottom: 0px;
}

#header .main {
	text-align: right;
	height: 35px;
	font-size: 16px;
	letter-spacing: -1px;
	font-weight: bold;
	vertical-align: bottom;
}
#header .main div {
	padding-top: 13px;
}
#header .main a {
	padding: 2px 9px;
	background-color: #FF8300;
	text-decoration: none;
	color: #fff;
}
#header .main a:hover {
	background-color: #FFA240;
}


#content {
	padding-top: 15px;
	padding-bottom: 15px;
}


.box {
	margin: 0 auto;
	padding: 0 auto;
	text-align: left;
	width: 670px;
}

.box .in {
	margin-left: 170px;
	margin-bottom: 5px;
	width: 500px;
}

.box .in .full {
	margin-left: -170px;
	width: 670px;
}

.box .in .section { clear: both;}
.box .in .section.inside { padding: 10px;}

.box .in .cap {
	width: 150px;
	margin-left: -170px;
	clear:left;
	float: left;
	text-align: right;
	color: #333;
}
.cap h2, .cap h3, .cap h4 { color: #333;}

.box .in .expandbox .cap {
	margin-left: -180px;
}

.box .in .share_links .cap 	{ color: #333; margin-right: 0; padding: 0; }

.cap.top .flash {
	margin-top: 7px;
	display: block;
	padding: 1px 5px;
	background-color: #63DD8D;
}

#flash {
	text-align: center;
	margin-top: 5px;
	margin-bottom: 5px;
}
.cap #flash {text-align: right;}
#flash div {
	display: inline;
	padding: 2px 5px;
}
#flash div.notice 	{ background-color: #63DD8D; }
#flash div.warn 	{ background-color: #ffd5cd; }
#flash div.warn_full, #flash div.notice_full { 
	text-align: left;
	display: block;
	padding: 10px;
	margin-top: 5px;
	background-color: #fff;
	border: 1px solid #ffd5cd;
}

.expandbox {
	padding: 10px;
}
.expandbox.enlighten {
	background-color: #8A9FFF;
}

.expandbox.enlighten input.text {
	width: 472px
}
.expandbox.show, .expandbox.login {
	background-color: #fff;
	border: 1px solid #ddd;
	padding-bottom: 5px;
	color: #333
}
.expandbox.show h2, .expandbox.show h3 {
	color: #333;
	margin-bottom: 5px;
}
.expandbox.login {
	padding-bottom: 10px;
}
.half {
	width: 250px;
}

.listingbox {
	background-color: #fff;
	border: 1px solid #ddd;
}
.listingbox .item {
	padding: 7px 10px 6px 5px;
	position: relative;
}
.listingbox .item .entry_main {
	display: block;
	float: none;
	width: auto;
	margin-left:5px;
/*	margin-left:21px;   pak zase zapnu, az bude flags */
	margin-right: 50px;  /* zruseno protoze nechci vpravo akce */
	padding-left: 2px;
	color: #333;
}
.listingbox .item .entry_main a {
	text-decoration: none;
	color: #333;
}
.listingbox .item .entry_main a:hover {
	color: #666;
}
.listingbox .item .entry_main h2,
.listingbox .item .entry_main div {
	white-space: nowrap;
	overflow: hidden;
	line-height: 140%;
	width: auto;
	
}
.listingbox .item .entry_main div.optional {
/*	margin-bottom: 2px;*/
}
.listingbox .item .entry_main h2.no_title a {
	color: #bbb; font-style: italic;
}
.listingbox .item .entry_main h2.no_title a:hover {
	color: #666;
}

.listingbox .item .actions {
	line-height: 150%;
/*	text-align: right;*/
/*	margin-left: -10px;*/
}
.listingbox .item .actions span {
/*	float: left;*/
/*	padding: 0 8px;*/
}
.listingbox .item .actions span a {
	color: #808080;
}
.flag_icon {
	float: left;
	display: block;
	width: 18px;
	height: 18px;
	margin-top: 5px;
	background: #fff url('/images/flag_icon.png');
}
.flag_icon.notactive {
/*	background-position-x: 0px;*/
/*	background-position-y: 0px;*/
	background-position:0 0px;
}
.flag_icon.active {
/*	background-position-x: -22px;*/
/*	background-position-y: -22px;*/
	background-position: -22px -22px;
}

.item_separator {
	border-top: 1px dotted #ddd;
}

.pagination {
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
}
.pagination span {
	font-weight: bold;
	padding: 0 2px;
}
.pagination a {
	padding: 0 2px;
}
.pagination a.prev_page,
.pagination a.next_page {
	text-decoration: none;
}
.pagination_info {
	text-align: right;
	font-size: 80%;
	line-height: 130%;
	margin: 0 2px 2px 0;
}


.form_line {
	margin-top: 10px;
	margin-bottom: 10px;
}

/*pridal jsem sem to form_line, snad to nerozbiju*/
.form_line .label {
	width: 150px;
	float: left;
	text-align: right;
	font-weight: bold;
	color: #444; margin-top: 2px;
}

.form_field_div {
	margin-left: 170px;
	width: 500px;
}
.form_field_div_with_help {
	margin-left: 170px;
	width: 250px;
}
.form_line .formhelper {
	width: 235px; float: right
}

.form_field_div input.text,
.form_field_div textarea {
	width: 490px;
}

.form_field_div_with_help input.text,
.form_field_div_with_help textarea {
	width: 240px;
}
.form_field_div_with_help h3 {
	color: #333;
	margin-top: 2px;
	line-height: 150%
}
.half .form_field input.text,
.half .form_field textarea {
	width: 220px;
}
.register_link {
	padding: 2px 9px;
	background-color: #1531AE;
	color: #fff;
	font-weight: bold;
	text-decoration: none;
}
.register_link:hover {
	background-color: #4962D6;
	color: #fff;
}

h3.locilink {
	padding: 5px 0;
	margin: 0;
	margin-right: 11px;
	text-align: right;
}
.locilink span.optional { font-weight: normal;}

.cap.share_links, .cap.login {
	margin-top: 13px
}

#map {
	width: 498px; height: 320px;
	clear: right;
	text-align: center;
	margin-top: 10px; margin-bottom: 5px;
	border: 1px solid #ddd;
}

.expandbox.show #map {
	width: 478px;
}

.begin_section							{margin-top: 20px;}

.highlight								{ background-color: #808080; color: #fff; padding: 0 3px; }
.highlight_color 						{ color: #fff; background-color: #FF8300; padding: 2px 5px; }

.texttitle 								{ color: #071A71; }

.optional {
	font-size: 80%;
	color: #808080;
}

.cancelupdate, .tryaddress, .more_options { float: right;}
.logout { text-align: right; line-height: 100%; margin-bottom: 5px;}

#map div { font-size: 10px; padding: 0; margin: 0; line-height: 16px;}
#map_overview { visibility: hidden;}

.optional.helper 	{ margin-top: 10px; margin-bottom: 10px;}

.edit_item 			{ float: right; margin-left: 10px; margin-bottom: 5px; font-size: 80%; line-height: 130%;}
.edit_item.a		{ color: #808080;}

#place_meta 		{ font-size: 85%; }
#place_meta .geo 	{ display: inline; }

/* ================ */
/* = FOOTER STYLE = */
/* ================ */
#footer {
	border-top: 1px solid #aaa;
	padding-top: 10px;
	padding-bottom: 10px;
}

#footer .expandbox {
	padding: 10px;
}

#footer .cap a {
	text-decoration: none;
	letter-spacing: -1px;
	font-weight: bold;
	color: #fff;
	background-color: #FF8300;
	padding: 2px 5px;
}
#footer .cap a:hover	{ text-decoration: underline; }

#footer .box .in ul		{ list-style-type: none; list-style-position: outside; list-style-image: none; margin:0; padding:0; }
#footer .box .in ul li	{ display: inline; padding-right: 20px; }

