/* Loci.me - mobile */
body {
	font: normal normal normal 14px/1.4em "Lucida Grande",Verdana,"Bitstream Vera Sans",Arial,sans-serif;
	color: #333;
	background-color: #fff;
	margin: 0;
	padding: 0;
}

a						{ color:#1531AE; }
img						{ border: 0; }
h1, h2, h3, h4			{ margin: 0; padding: 0; letter-spacing: -1px; }
h1						{ font-size: 18px; }
h2						{ font-size: 16px; }
h3, h4					{ font-size: 14px; }
small, .small 			{ font-size: 12px; }
input, textarea 		{ font: normal normal normal 14px/1.5em "Lucida Grande",Verdana,"Bitstream Vera Sans",Arial,sans-serif; }
.show 					{ display: block;}
.not_show 				{ display: none;}

#header 				{ color: #333; background-color: #fff; border-bottom: 1px solid #808080; }
#header a 				{ font-weight: bold; }
#content 				{ padding: 5px; background-color: #808080; color: #fff;}
#content a				{ color: #fff;}

.glink 					{ text-align: right; font-size: 85%; }
#map					{ text-align: center; margin-top: 5px; }
#place_meta 			{ font-size: 85%; text-align: center; }
.share_links			{ text-align: right; font-size: 85%; }

/* = FOOTER STYLE = */
#footer 				{ border-top: 1px solid #808080; font-size: 85%; text-align: center; }
#footer a 				{ color: #ddd; }
#footer a:hover			{ color: #fff; }




