<% form_for @user, :url => account_path do |f| %>

<div class="full">

  <% if @user.new_record? -%>

    <div class="form_line">
      <div class="label">Login:</div>
      <div class="optional formhelper">
        You will not be able to change it.<br />4 to 20 characters (letters, digits or '-')
      </div>
      <div class="form_field_div_with_help">
        <div><%= f.text_field :login, :class => "text" %></div>
      </div>
    </div>

  <% else %>
  
    <div class="form_line">
      <div class="label">Login:</div>
      <div class="form_field_div_with_help">
        <h3 style="margin-top: 2px; line-height: 150%"><%=h @user.login %></h3>
      </div>
    </div>
  
  <% end %>
  
  <div class="hr">&nbsp;</div>

  <div class="form_line">
    <div class="label"><%= @user.new_record? ? "Password:" : "Change password:" -%></div>
    <div class="optional formhelper">
      at least 4 characters
    </div>
    <div class="form_field_div_with_help">
     <div><%= f.password_field :password, :class => "text"  %></div>
     <div class="optional">(confirm it)</div>
     <div><%= f.password_field :password_confirmation, :class => "text" %></div>
    </div>
  </div>

  <div class="hr">&nbsp;</div>
  
  <div class="form_line">
    <div class="label">E-mail:</div>
    <div class="optional formhelper">
      Optional but recommended (forgotten password is mailed to this address)
    </div>
    <div class="form_field_div_with_help">
     <div><%= f.text_field :email, :class => "text" %></div>
    </div>
  </div>

</div>

<%= f.submit "#{@user.new_record? ? "Register" : "Update"}" %>

<% end %>

