<div id="identity_bar" style="text-align: right; font-size: 80%; line-height: 160%; color: #333">
  <div style="float: right; display: block; padding: 1px 10px; background-color: #ddd">
    <%#  debugger %>
    <% if user %>
      Welcome, <strong><%=h user.login %></strong> :
      <strong><%= link_to "Profile", account_path %></strong> : 
      <strong><%= link_to "Your Places", places_path %></strong> : 
      <!-- Invite Friends : -->
      <strong><%= link_to "LogOut", user_session_path, :method => :delete %></strong>
    <% else %>
      <strong><%= link_to "Sign In", login_path %></strong>
    <% end %>
  </div>
  <div class="clearer"></div>
</div>

