
<!-- <h3 class="locilink"><span class="optional">link to your public profile: </span><%# @user.locilink %></h3> -->

<div class="share_links cap">
  <h3>You:</h3>
</div>

<div class="expandbox show">
  <div class="edit_item"><%= link_to 'edit your account', edit_account_path %></div>
  
  <h2><%=h @user.login %></h2>
  <div><%= @user.email.blank? ? "<span class=\"optional\">E-mail not set</span>" : h(@user.email) %></div>
  <div class="logout optional"><%= link_to 'Logout', user_session_path, :method => :delete %></div>
  
  <div class="clearer">&nbsp;</div>
</div>

<div class="section_end">&nbsp;</div>

<h3 class="cap">More</h3>

<p>... will come. Give us time, please :)</p>
