<h2>(Little) API</h2>

<h3>Get different formats for known locilink</h3>
<p>Request locilink with different formats:</p>
<pre>
http://loci.me/GHASH.xml
http://loci.me/GHASH.json
</pre>
<p>or geoformats</p>
<pre>
http://loci.me/GHASH.kml
http://loci.me/GHASH.gpx
</pre>

<h3>Submit new place</h3>
<p>Currently the only available call (with different format outputs) is to create new locilink.</p>

<pre>
http://loci.me/api/place/create?params...
</pre>

<p>where <span class="code">params</span> can be:</p>

<pre>
lat, lon,
altitude,
coords (lat,lon OR coords, not both),
title (max 128 chars),
description (max 1000 chars)
link (max. 128 chars, currently only http(s) protocol)
</pre>

<p>Only lat/lon or coords are required, others optional.</p>


http://loci.me/t341cf
51.510278,-0.133982

