<h1>(Little) API</h1>

<p class="clearer">
  
<h3 class="cap">Different formats of locilink</h3>
<p>
  As a addition to usual web view,
  request locilink with different formats if you need to use data about place (example):
</p>
<pre>
http://loci.me/.341cf.xml
http://loci.me/.341cf.json
</pre>
<p>or geoformats</p>
<pre>
http://loci.me/.341cf.kml
http://loci.me/.341cf.gpx
http://loci.me/.341cf.lmx
</pre>

<p class="clearer begin_section">

<h3 class="cap">Submit new place</h3>
<p>Currently the only available call (with different format outputs) is to create new locilink.
  Specify format you want.</p>

<pre>
http://loci.me/api/places/create.json?params...
http://loci.me/api/places/create.xml?params...
</pre>

<p>
  where <span class="code">params</span>
  (sent by <span class="code">get</span> or <span class="code">post)</span> are:
</p>

<pre>
lat         (-90..90)
lon         (-180..180)
altitude
coords      (lat,lon OR coords, not both)
title       (max 128 chars)
description (max 1000 chars)
link        (max. 128 chars, currently only http/s protocol)
</pre>

<p>Only lat/lon or coords are required, others are optional.</p>

<p>Coords can be in a formats:</p>

<pre>
51.510278,-0.133982
N 51°30.61668'  W 0°08.03892'
51°30'37.001"N  0°08'02.335"W
</pre>

