<h1>Edge Loci.me</h1>

<p><em>This is just for testing future functions of loci.me. It is incomplete, not user friendly, change often and usually buggy. Please forgive sharp edges.</em></p>

<p><em>It will usually differ a lot when released. Please if you decide to build something on this functionality, stay informed (I should make some king of special feed for it asap).</em></p>

<p>Please <%= mail_to "i-hear-you@loci.me", "write me", :encode => "javascript"  -%> - any type of feedback welcome</p>

<div class="hr">&nbsp;</div>

<h3 class="cap">Simple input</h3>

<p>To simplify creating new place. It is intended to do some magic, like geocoding and so, currently is is pretty dumb.</p>

<%= link_to "Here", q_new_path -%>.

<div class="hr">&nbsp;</div>

<h3 class="cap">Bookmarklet</h3>

<p>Just testing rough bookmarklet functionality. When you are on the google maps page, click on the bookmarklet and (in some cases) the place will be created.</p>

<p>Current limitations:</p>
<ul>
  <li>in some cases it do not recognize the coordinates</li>
  <li>the coordinates are taken from the centre of the map, not the placemark (not always in the center)</li>
  <li>no geociding currently done</li>
</ul>

<p>Drag this link to the bookmarks (in IE it is more complicated)</p>

<p><a href="javascript:void(location.host=='maps.google.com'?location.href='http://loci.me/new?q='+encodeURIComponent(document.getElementById('link').href):location.href='http://loci.me/new?q='+encodeURIComponent(location.href))" title="Loci.me bookmarklet GMaps alpha">Loci.me GMaps alpha</a></p>

<div class="hr">&nbsp;</div>

<h3 class="cap">Publish place:<br />Embed in the webpage</h3>
<p>You can embed link to place to webpage (with geo microformat of this place). More will come.</p>
  
<p>Example: <script src="http://loci.me/t341cf.js"></script></p>

<p>Add this to your page (with your desired locilink).</p>

<pre>
&lt;script src="http://loci.me/.341cf.js"&gt;&lt;/script&gt;
</pre>
