<h1>Create places with short links and share them.</h1>


<h2 class="cap">Motivation</h2>
<p><em>I've created loci.me because I want to use it. And hope you will, too.</em></p>

<p><em>I think that nearly anything is associated with a place. Everything happens somewhere.</em></p>

<p><em>Some places are important for us - where we live &amp; work, where we like to go to and so.
We may share this places with good friends. We may be be interested what's new there and we maybe want to commit to these places somehow.</em></p>

<p><em>Loci.me is now very limited. Bare bones. I know. The way begins with the first step
and wish I can realize all my plans (and your wishes, you eventually <%= mail_to "i-hear-you@loci.me", "share with me",  :encode => "javascript" -%>).</em></p>

<p><em>I will be happy you will share my way (and your places)</em></p>

<p><em>DavidC</em></p>

<div class="clearer begin_section">&nbsp;</div>

<h4 class="highlight_color" style="display: inline">Create new place -> get short link -> share</h4>

<!-- <h3 class="cap">Loci.me means</h3> -->
<div class="clearer begin_section">&nbsp;</div>


<h2 class="cap">Why?</h2>

<!-- <p><strong class="highlight">More ways</strong> how to submit place.</p> -->

<p><strong class="highlight">Place specific info</strong>
like title, description or link to your or relevant page to your place.</p>

<p><strong class="highlight">Choose the map</strong>
you want to see your place at.</p>

<p><strong class="highlight">Save the place</strong>
as a specific format: for Google Earth, Nokia Maps, Garmin etc.</p>

<p><strong class="highlight">Share the place anywhere</strong>
with short link (on twitter, facebook, ...) or publish on your web.</p>

<p><strong class="highlight">Send to phone</strong>
because place view is optimized for better and faster phone view.</p>

<p><strong class="highlight">API</strong>
to integrate or extend (more)</p>

<div class="section_end">&nbsp;</div>

<p>Insert "London" to Google maps, select "Link" and you'll get 137 characters long url. Little bit longer, isn't it?</p>
<p>Plain link shorteners works good but do not understand the geo nature of the link.</p>

<div class="clearer begin_section">&nbsp;</div>

<h2 class="cap">Help</h2>

<p>
  Loci.me is <strong>in beta</strong>.
  Missing something? Bug? Idea?
  Please, <%= link_to "add a comment", "http://blog.loci.me/35/wishlist" -%> on the blog or <%= mail_to "i-hear-you@loci.me", "write me",  :encode => "javascript" -%><sup>*</sup>. Thanks a lot.
</p>

<p class="optional">
  * If the link to send mail does not work, write me at "i-hear-you (at) loci (dot) me". Thanks a lot! 
</p>



