<h1>Publish Place</h1>

<h3 class="cap">Embed in the webpage</h3>
<p><em>This is still experimental.</em> You can embed link to place to webpage (with geo microformat of this place). More will come.</p>
  
<p>Example: <script src="http://loci.me/t341cf.js"></script></p>

<p>Add this to your page (with your desired locilink).</p>

<pre>
&lt;script src="http://loci.me/t341cf.js"&gt;&lt;/script&gt;
</pre>
