
<h2>&nbsp;</h2>

<div style="width: 230px; float: right; margin-top: 10px; text-align: center">
  <h3>or register</h3>
  <div style="font-style: italic; margin-bottom: 15px; margin-top: 10px">
    because it's<br />
    fast,free<br />and you'll<br />
    get more
  </div>
  
  <%= link_to "Register", new_account_path, :class => "register_link"  %>
  
</div>

<h3 class="cap login">Please log-in</h3>

<div class="half">
  
  <% form_for @user_session, :url => user_session_path do |f| %>

    <div class="expandbox login">
    
      <div>Login:</div>
      <div class="form_field">
        <div><%= f.text_field :login, :class => "text"  %></div>
      </div>
        
      <div>Password:</div>
      <div class="form_field">
        <div><%= f.password_field :password, :class => "text"  %></div>
      </div>
    
      <p><%= f.check_box :remember_me %><%= f.label :remember_me %></p>

      <%= f.submit "Login" %>
      <div class="logout optional"><%= link_to 'Forgotten password?', new_password_reset_path %></div>

    </div>

  
  <% end %>

</div>