
<% form_for @gitem  do |f| %> 
  <%= f.hidden_field :coords %>
  <%= f.hidden_field :zoom %>
  <%= f.hidden_field :maptype %>

  <div class="full">
  
    <div class="form_line">
      <div class="label">Where it is:</div>
      <div class="form_field_div">
        <div><%= f.text_field :lqs, :onkeypress => "return enterDoesGeocoding(event)", :class => "text" %></div>
        <div class="optional"><%= link_to_function "try to find address", "queryLocation()" %></div>
        <div id="address_info" class="optional"></div>
        <!-- <div class="optional">(jen pismenka)</div> -->
      </div>
    </div>

    <div class="hr">&nbsp;</div>

    <div class="form_line">
      <div class="label">Place name:</div>
      <div class="form_field_div">
        <div><%= f.text_field :title, :class => "text"  %></div>
        <!-- <div class="optional">(jen pismenka)</div> -->
      </div>
    </div>

    <div class="hr">&nbsp;</div>

    <div class="form_line">
      <div class="label">More info:</div>
      <div class="form_field_div">
        <div><%= f.text_area :description, :rows => 2, :class => "text" %></div>
      </div>
    </div>

    <div class="hr">&nbsp;</div>

    <div class="form_line">
      <div class="label">Link:</div>
      <div class="form_field_div">
        <div><%= f.text_field :link, :class => "text sep_after_10"  %></div>
      </div>
    </div>

  </div>  

  <% if @gitem.new_record? %>
    <div class="cancelupdate"><%= link_to "cancel", root_path, :class => "usual" -%></div>
  <% else %>
    <div class="cancelupdate"><%= link_to "cancel update", ghash_path(@gitem.ghash), :class => "usual" -%></div>
  <% end %>
  
  <div class="submit"><%= submit_tag "#{@gitem.new_record? ? "Make Place" : "Update Your Place"}", :class => "submit" %></div>

  <div id="map"><noscript>You need to have javascript on in order to use map for making new place.</noscript></div>

  <div id="place_meta" style="text-align: center">
    <div id="do_reverse_geocoding_div"><%= link_to_function "Try to get address from location", "setDoRevGeoAndDeleteLink();doReverseGeocoding(marker.getLatLng());"  -%></div>
    <div>Coordinates: <span id="geo_coords"><%= @gitem.lat && @gitem.lon ? "#{@gitem.lat},#{@gitem.lon}" : 'Insert coordinates or address above or drag the pin' -%></span></div>
  </div>

<% end %>
