  <div>Name your place <span class="optional">(optional)</span></div>
  <div><%= form.text_field :title, :class => "text" %></div>
  <div>Description <span class="optional">(optional)</span></div>
  <div><%= form.text_area :description, :rows => 4, :class => "text" %></div>
  <div>Link <span class="optional">(optional)</span></div>
  <div><%= form.text_field :link, :class => "text" %></div>