<% content_for(:header_stuff) do %>
<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;sensor=false" type="text/javascript"></script>
<%= javascript_include_tag "mapiconmaker", "locimeutils" %>
<% end %>

<% content_for(:footer_stuff) do %>
<%= javascript_tag "loadDynamicGMap(#{@gitem.lat}, #{@gitem.lon}, #{@gitem.zoom || GOOGLE_MAPS_DEFAULT_ZOOM}, '#{@gitem.maptype || 'm'}');setFocusHere('place_lqs');" -%>
<% end %>

<!-- ======================================================================= -->

<h1>Update Your Place</h1>

<%= render :partial => "edit" %>