<h1><%= @page_h1 ? @page_h1 : "Your saved places" %></h1>

<% if !@places.blank? %>
<% _firstitem = 1 %>
  <div class="listingbox">
    <% for place in @places %>
      <div class="item<%= !_firstitem ? " item_separator" : _firstitem = nil -%>">
        <!-- <div id="place_icon_<%= place.id %>" class="flag_icon active">&nbsp;</div> -->
        <div class="edit_item"><%= link_to "Edit", edit_place_path(place) %></div>
        <div class="entry_main">
          <% if !place.title.blank? -%>
            <h2><%= link_to h(place.title), ghash_path(place.ghash) -%></h2>
          <% else -%>
            <h2 class="no_title"><%= link_to "no title", ghash_path(place.ghash) -%></h2>
          <% end -%>
          <!-- <div class="optional"> -->
            <!-- <span>(Addr, pokud je k dispozici, nebo country a blizke mesto)</span> -->
          <!-- </div> -->
          <div class="actions optional">
            <span><%= time_ago_in_words(place.updated_at) -%> old</span>
            <!-- <span>public (change)</span> -->
            <!-- <span>visible (hide)</span> -->
          </div>
          <!-- <div>show, edit, hide, comments, updated_at, </div> -->
        </div>
        <div class="clearer">&nbsp;</div>
      </div>
    
    <% end %>
  </div>
  <%= will_paginate @places, :previous_label => "&laquo; Younger", :next_label => "Older &raquo;", :inner_window => 2 %>
  <div class="pagination optional"><%= page_entries_info @places %></div>
<% else %>
  <p>
    Oh. You have no created places.
  </p>
  <p>
    Try to <%= link_to "create and share one", new_place_path %>...
  </p>
  
    ... or <%= link_to "log-in/register", login_path %> and your places become yours.
<% end %>

<div class="section_end">&nbsp;</div>

<h3 class="cap">ToDo</h3>

<ul>
  <li>flag favorites</li>
  <li>basic search (per category etc.)</li>
  <li>fast preview</li>
  <li>... and much more :)</li>
</ul>
