<div class="gitem">
  <%= @gitem.title.blank? ? '' : "<h2>#{h @gitem.title}</h2>" -%>
  <%= @gitem.description.blank? ? '' : "<h4>#{h @gitem.description}</h4>" -%>
  <%= @gitem.link.blank? ? '' : "<div class=\"glink\">#{link_to( "Linked page &raquo;", URI.encode(@gitem.link))}</div>" -%>
  <div id="map"><%= static_map_image_tag(:browser_family => @ua.browser_family) -%></div>
  <div id="place_meta">
    <div class="show_on_maps">
      Maps: <%= (@ua && @ua.browser_family == "nokia") ? "<span>#{link_to("nokia", ghash_format_url(:ghash => @gitem.ghash, :format => "lmx"))}</span>, " : '' -%>
      <%= links_to_show_on_maps(:separator => ', ', :maps => { :gm => "google", :ym => "yahoo"}) -%>
    </div>
    <%= @gitem.gformat_to.geomicro("Coords: ") -%>
    <div class="formats">Formats: <%= links_to_formats(:separator => ', ') -%></div>
    <div class="ghash"><%= link_to(@gitem.locilink, ghash_url(:ghash => @gitem.ghash) + '?!') -%></div>
  </div>
</div>

<!-- ======================================================================= -->
<% content_for(:share_actions) do %>
<div class="share_links"> 
  <span><%= mail_to('', "mail",
              :subject => !@gitem.title.blank? ? "I send you link to place: #{h(@gitem.title)} (loci.me)" : "Look - it's here (loci.me)",
              :body => "\nPlace: #{h(@gitem.title)}\n#{@gitem.locilink}") -%></span>
  <% if @ua && @ua.browser_family != "iphoneipod" -%>
    or 
    <span><%= sms_to('', "sms",
                :body => "Place: #{@gitem.locilink}") -%></span>
  <% end -%>
  it.
</div>
<% end %>

