<%
  # Initialize form: TODO: this should be in app_helper I suppose
  unless @gitem
    @gitem = Place.new(params[:place])
  end
%>

<% content_for(:header_stuff) do %>
<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;sensor=false" type="text/javascript"></script>
<%= javascript_include_tag "mapiconmaker", "locimeutils" %>
<% end %>

<% content_for(:footer_stuff) do %>
<%= javascript_tag "loadDynamicGMap(#{@gitem.lat || 0}, #{@gitem.lon || 0}, #{@gitem.zoom || 1}, '#{@gitem.maptype || 'm'}');setFocusHere('place_lqs');" -%>
<% end %>

<!-- ======================================================================= -->

<h1>Make a New Place</h1>

<%= render :partial => "places/edit" %>

