
<h3 class="locilink"><span class="optional">loci.link to share: </span><%= @gitem.locilink %></h3>

<div class="share_links cap">
  <h4>Share</h4> 
  <div class="smaller"><%= link_to("on facebook", @gitem.share_link.facebook) -%></div>
  <div class="smaller"><%= link_to("on twitter", @gitem.share_link.twitter) -%></div>
  <div class="smaller"><%= mail_to('', "by mail",
              :subject => !@gitem.title.blank? ? "I send you link to place: #{h(@gitem.title)} (loci.me)" : "Look - it's here (loci.me)",
              :body => "\nPlace: #{h(@gitem.title)}\n#{@gitem.locilink}") -%></div>
</div>


<div class="expandbox show">
  <%= edit_link_if_can_edit() -%>
  <%= @gitem.title.blank? ? '' : "<h2>#{h @gitem.title}</h2>" -%>
  <%= @gitem.description.blank? ? '' : "<div class=\"description\">#{h @gitem.description}</div>" -%>
  <%= @gitem.link.blank? ? '' : link_to( "Linked page &raquo;", URI.encode(@gitem.link), :rel => "nofollow", :class => "glink") -%>
  <!-- <div id="map"><%# static_map_image_tag -%></div> -->
  <div id="map" style=""><%= edit_link_visible_if_can_edit(static_map_image_tag) -%></div>
  <div id="place_meta">
    <%= @gitem.gformat_to.geomicro -%>&nbsp;&nbsp;
    formats: <%= links_to_formats(:separator => ', ') -%>&nbsp;&nbsp; 
    maps: <%= links_to_show_on_maps(:separator => ', ', :maps => { :gm => "google", :ym => "yahoo"}) -%>
  </div>  
  
</div>
<%# debug controller %>