<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <meta name="viewport" content="width=680, user-scalable=yes">
  <title><%= page_title() -%></title>
	<%= stylesheet_link_tag 'locime3' %>
	<%= yield :header_stuff -%>
</head>
<body onunload="GUnload()">
  <div id="header">
    <div class="box"> 
      <div class="in">
        <%= render :partial => "users/identitybar", :locals => {:user => current_user()} %>
  		  <div class="cap"><%= link_to(image_tag("locime-logo2.png", :id => "logo", :size => "145x35"), root_url) %></div>
    		<div class="main"><div><%= link_to "Make and Share Places &raquo;", q_new_path -%></div></div>
      </div>   
    </div>
    <div class="clearer">&nbsp;</div>
  </div>

  <div id="content">
    <div class="box"> 
      <div class="in">
        <div class="cap"><%= flash_message %></div>
        <%= flash_message(:what => [:notice_full, :warn_full] ) %>
        <div class="clearer">&nbsp;</div>
        
        <%= yield -%>
        <script type="text/javascript"><!--
          google_ad_client = "ca-pub-6659002727116921";
          /* locime1 */
          google_ad_slot = "6275474612";
          google_ad_width = 468;
          google_ad_height = 60;
          //-->
        </script>
        <script type="text/javascript" src="//pagead2.googlesyndication.com/pagead/show_ads.js">
        </script>
      </div><!-- in -->
    </div><!-- box -->

    <div class="clearer">&nbsp;</div>
  </div><!-- content -->
  
  <div id="footer">
    <div class="box"> 
      <div class="in">
          <div>
            <ul>
              <li><%= link_to "More", pages_index_path  -%></li>
              <li><%= link_to "Blog", "http://blog.loci.me" -%></li>
              <li><%= link_to "API", pages_path('api') -%></li>
            </ul>
          </div>
          <div class="clearer">&nbsp;</div>
      </div>
  	<div class="clearer">&nbsp;</div>
  </div>
<%= yield :footer_stuff -%>
</body>
</html>

