<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <meta name="viewport" content="width=680, user-scalable=yes">
  <title><%= page_title() -%></title>
	<%= stylesheet_link_tag 'locime3' %>
  <%= yield :header_stuff -%>
</head>
<body onunload="GUnload()">
  <div id="header">
    <div class="box"> 
      <div class="in">
  		  <div class="cap"><%= link_to(image_tag("locime-logo2.png", :id => "logo", :size => "145x35"), root_url) %></div>
    		<div class="main">Make and Share Places</div>
      </div>   
    </div>
    <div class="clearer">&nbsp;</div>
  </div>

  <div id="content">
    <div class="box"> 
      <div class="in"><%# flash[:notice] ? "<div class=\"flash\">#{flash.delete(:notice)}</div>" : '' %>
        <div class="cap top"><%= flash_message %></div>
        
        <%= yield -%>
    		
  		</div><!-- in -->
    </div><!-- box -->
    <div class="clearer main_end">&nbsp;</div>
  </div><!-- content -->
  
  <div id="footer">
    <div class="box"> 
      <div class="in">
        <!-- <div class="expandbox"> -->
          <h4 class="cap"><%= link_to("Make a Place Now", new_place_url()) -%></h4>
          <div>
            <ul>
              <li><%= link_to "More", pages_index_path  -%></li>
              <li><%= link_to "Blog", "http://blog.loci.me" -%></li>
              <li><%= link_to "API", pages_path('api') -%></li>
            </ul>
          </div>
          <div class="clearer">&nbsp;</div>
        <!-- </div> -->
      </div>
  	<div class="clearer">&nbsp;</div>
  </div>
<%= yield :footer_stuff -%>
</body>
</html>

