<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= page_title() -%></title>
	<%= stylesheet_link_tag 'locime3_mobile' %>
	<%= head_items() -%>
</head>
<body>
  <div id="header">
    <table border="0" cellspacing="0" cellpadding="5" style="width:100%">
      <tr>
        <td><%= link_to(image_tag("locime-logo-micro.png", :id => "logo", :size => "70x18"), root_url) %></td>
        <td class="share_links"><%= yield :share_actions -%></td>
      </tr>
    </table>
  </div>

  <div id="content">
      <%= yield -%>
  </div>
  
  <div id="footer">
    <div>
      loci.me - Make and Share Places
    </div>
  </div>

</body>
</html>

